@import "@/app/layout.scss";
.user-page{
    padding-top: 100px;
}
.pin-label{
    width: 500px;
    text-align: center;
    height: 60px;
    background-color: brown;
    border-radius: 30px;
}
.exit{
    display: inline;
    font-size: rem(28);
    text-decoration: underline;
    color: brown;
}

.flex-articles{
    display: flex;
    padding-top: rem(50);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap:60px;
    margin-left: 7%;
    margin-bottom: 30px;
    transform: translate(0,0);
    transition:transform 0.5s ease;
}