.myAutoSwiper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px 0 0 0;
    background-color: white;
}

.swiper-slide {
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inAutoSwiper{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;
}
.parallax-img{
    width:100%;
    height: auto;
}