.myAutoSwiper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px 0 0 0;
    background-color: white;
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

.swiper-slide {
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inAutoSwiper{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;
}
.k{
    text-wrap: wrap;
    padding: 5px 0 0 0;
    font-size: 1.8rem;
    text-align: center;
}